.error-message {
	color: #ff6565;
	// padding: 0.5em 0.2em;
	// height: 1em;
	// position: absolute;
	// font-size: 0.8em;
}

.error {
	border: 10px solid #ff6565;
}

/* The Modal (background) */
.Custom-modal {
	display: block; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	left: 0;
	top: 0;

	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgb(0, 0, 0); /* Fallback color */
	background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
	.content {
		border-radius: 10px;

		display: flex;
		flex-direction: column;
		// border: thick red;
		background-color: #fefefe;
		margin: 15% auto; /* 15% from the top and centered */

		padding: 20px;
		// border-style: border-box;
		box-sizing: border-box;
		border: 1px solid #888;
		width: 40%; /* Could be more or less, depending on screen size */
		.header {
			font-size: 25px;
			padding: 2px 16px;
			margin: 3px;
			color: black;
			font-family: "Franklin Gothic Medium";
		}
		.body {
			// display: inline-block;
			margin: 10px;
			padding: 10px 16px;
		}
		.footer {
			// margin: 3px;
			// padding: 2px 16px;
			color: white;
		}
		.buttons {
			margin: 10px;
		}

		.titleLabel {
			font-size: 20px;
			color: #111111;
			font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
		}

		.descriptionLabel {
			font-size: 20px;
			color: coral;
			font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
		}
	}
}

.c-button {
	display: inline;
	background-color: #b8765c;
	margin: 10px;
	padding: 10px;
}
