p {
	border: 10px;
	border-color: red;
	font-size: 2em;
}

.pageContainer {
	border-top: 2px solid #ebebeb;
}
.button {
	display: block;
	text-align: center;
	margin-top: 20px;
}

img {
	height: 25%;
	width: 25%;
	border-radius: 25px;
	margin-bottom: 40px;
}

.pageContent {
	font-family: "Source Sans Pro", Times, serif;
	font-size: 20px;
	line-height: 28px;
	font-weight: 400;
	margin-bottom: 40px;
}
.pageTitle {
	font-family: "CopperPot Bold";
	font-size: 48px;
	line-height: 52px;
	border: 10px;
	padding: 25px;
}

.ul {
	display: block;
	font-family: "CopperPot Bold";
	list-style-type: disc;
	margin-block-start: 1em;
	margin-block-end: 1em;
	margin-inline-start: 0px;
	margin-inline-end: 0px;
	padding-inline-start: 40px;
	padding: 0;
	margin: 0;
	margin-bottom: 10px;
	box-sizing: border-box;
	border-top: 2px solid #ebebeb;
	border-bottom: 2px solid #ebebeb;
}
.span {
	color: #111111;
	list-style: none;
	display: inline-block;
	margin-right: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
	font-size: 20px;
}

.prepTime {
	color: #111111;
	list-style: none;
	display: inline-block;
	margin-right: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
	font-size: 20px;
}
.li {
	list-style: none;
	display: inline-block;
	// margin-right: 25px;
	font-size: 15px;
	color: coral;
	position: relative;
	text-align: match-parent;
	box-sizing: border-box;
}

.span:after {
	// position: absolute;
	// right: -14px;
	// top: -2px;
	margin-left: 10px;
	content: "|";
	color: #cccccc;
}

.recipeDeleBut {
	margin: 10px;
	margin-bottom: 80px;
}

.recipeUpdateButton {
	margin: 10px;
	margin-bottom: 80px;
}
